<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <h3><label class="company-name" >HEAVEN'S PLACE &nbsp;&nbsp;</label></h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-menu">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/selection" routerLinkActive="active-menu">Dependents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order-form" routerLinkActive="active-menu">My OrderNow2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/report" routerLinkActive="active-menu">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active-menu">Register</a>
        </li>

    <!-- Show login link if not logged in -->
    <li class="nav-item" *ngIf="!store.isLoggedIn()"><a class="nav-link" routerLink="/login" routerLinkActive="active-menu">Login</a></li>      
    <li class="nav-item" *ngIf="store.isLoggedIn()"><a class="nav-link" routerLink="/login" routerLinkActive="active-menu">Logout</a></li>      
  </ul>

  <span class="navbar-text" *ngIf="store.isLoggedIn()">
        Welcome, {{ store.loginName() }}
      </span>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>